body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: sans-serif;
  background-color: #ead0cd;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.value {
  padding: 10px;
  list-style: none;
}
.comment {
  padding: 7px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background: rgba(136, 126, 126, 0.25);
}

.submit {
  border-radius: 20px;
  padding: 7px;
  margin: 8px;
  background: rgba(136, 126, 126, 0.25);
  border: none;
}

.submit:hover {
  background: rgba(0, 0, 0, 0.3);
}
.article{
  background-color: #f9f2f1;
  padding: 10px;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.15);
}
.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tile{
  background-color: #ead0cd;
  margin: 10px;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.15);
  width:25%;
  padding-top: 10%;
  padding-bottom: 15%;
  position: relative;
  flex: 1 0 auto;
  border-radius: 25px;
  text-align: center;
}
.viewMore {
  border:none;
  border-radius: 8px;
}


/* Login Page */

.login{
  
}